/* ########### NAVBAR ##########  */

.navbar{
    height: 4rem;
    z-index: 888;
}

.navbar .navbar-brand{
    font: 30px var(--title-text);
    color: var(--white);
}

.navbar .nav-link{
    color: var(--white) !important;
    font: 14px var(--paragraph-text);
    padding: 0 12px !important;
    transition: all .5s ease-out;
    margin-right: 5px;
}

.navbar .nav-link:hover{
   color: var(--secondary-color) !important;
   border: 1px solid var(--secondary-color);
   border-radius: 5px;
   background: var(--white);
   /* font-size: 15px; */
   transition: all .5s ease-out;
}

.navbar .nav-link:focus-within {
    border: 1px solid var(--secondary-color);
}

.nav-line{
    background-color: var(--white);
    opacity: .2;
    margin: 0;
}

.nav-scrolled {
    height: 3rem;
    position: fixed;
    background-color: var(--brown-light);
    width: 100%;
    box-shadow: 5px 0 10px grey;
    transition: .5s;
}

.nav-scrolled .nav-link {
    color: var(--dark) !important;
    font: 13px var(--paragraph-text);
    padding: 0 12px !important;
    transition: all .5s ease-out;
    margin-right: 5px;
}

.nav-scrolled .navbar-brand{
    color: var(--dark);
    font: 25px var(--title-text);
}

.nav-scrolled .nav-link:hover{
   color: var(--secondary-color) !important;
   border: none;
   border-radius: 0;
   transition: all .3s ease-out;
}

.nav-scrolled .search-header {
    color: var(--dark);
    font-size: 1.2rem;
}

.nav-scrolled .search-header:hover {
    color: var(--secondary-color);
}

.nav-scrolled .dropdown-item{
    font: 13px var(--paragraph-text);
}

/* dropdown menu  */
.dropdown-item{
    font: 14px var(--paragraph-text);
}

.dropdown-item:hover{
    background: var(--white);
    color: var(--secondary-color);
}

.dropdown-item:focus{
    background: var(--secondary-color);
    color: var(--white);
}